body{
    font-family: Aerial sans-serif;
    background-color: lightyellow;
    margin: 20px;
    
}
/*heading style*/
h1 {
    color: navy;
    margin-bottom:30px;
    text-align : center;
    background-color : dimgray;
}
/*product Box style*/
.product-box {
    border: 2px solid black;
    padding: 15px;
    margin: 0 auto;
    background-color: lightgray;
    align-items: center;
    width:300 px;
    border-radius: 8px;  /*rounded corners*/
}
/*product image styling*/
.product-box img {
    border-radius: 5px;
    align-items: center;
    height: 500px;
    width: 500px;
}
/*product title*/
.product-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;  /*check*/
    color: darkblue;
    text-align: center;
}
/*product price*/
img{
margin: 0 auto;
display: block;
}