body{
    background-color: rgb(206, 211, 212);
    padding: 20px;
}
.block-menu a{
    display:block;
    background-color:rgb(55, 83, 175);
    color: pink;
    padding:10px;
    margin:5px 0;
    text-decoration:none;
    
}
.inline-menu a {
     display:inline block;
    background-color:rgb(134, 98, 201);
    color:rgb(72, 3, 57);
    padding:10px;
    margin:5px;
    text-decoration:none;

}
.Inline-Block-Example a{
 display: Inline-Block-Example;
    background-color:rgb(188, 113, 159);
    color:rgsb(213, 7, 41);
    padding:10px;
    margin:5px ;
    text-decoration:none;
}
.Float a{
    display:Float;
    background-color:rgb(119, 224, 188);
    color:rgb(213, 7, 41);
    padding:10px;
    margin:5px ;
    text-decoration:none;
}
.clear {
    clear:both;
}
